{% extends 'base1.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<main class="main1-container">
    <section class="section-home1">
        <div class = "main-title-class1">
            <h1 class="upperheadtitle-class1">WelcomeTo</h1><br>
            <h1 class="upperheadtitle-class2">Textile*</h1>
            <h1 class="headtitle-class1">INVENTORY MANAGEMENT</h1> 
            <p class="tagline-class1">A Inventory management website here a uneducated user can <br>also easily register and login access with simple crisp
                user interface and manage their company employee salaries, raw material costings and profit margins along with
                daily,weekly, monthly and yearly reports to track their businesses.</p>
        </div>
    </section>
</main>
{% endblock %}