{% extends 'base1.html' %}
{% load static %}

{% block title %}terms page{% endblock %}

{% block content %}
<div class="main-container-terms">
    <div class="heading-terms-class">
        <h1>Terms of Use</h1>
    </div>
    <div class="content-class-terms">
        <p>Welcome to our Textile Inventory Management Website.<br> By accessing or using the Site, you agree to be bound by the following terms and conditions.<br>
    </div>
    <div class="content-class-terms1">

Acceptance of Terms
By accessing or using the Site, you acknowledge that you have read, understood, and agree to be bound by these Terms of Use. If you do not agree to these Terms of Use, you may not use the Site.

License to Use the Site
Subject to your compliance with these Terms of Use, we grant you a limited, non-exclusive, non-transferable, and revocable license to use the Site for its intended purpose.

Registration
In order to use certain features of the Site, you may be required to register and provide certain information about yourself. You agree to provide accurate, current, and complete information during the registration process and to update such information as necessary.

Prohibited Conduct
You agree not to engage in any conduct that, in our sole discretion, restricts or inhibits any other user from using or enjoying the Site, or which may expose us or our users to any harm or liability of any type. Prohibited conduct includes, but is not limited to:

a. using the Site for any illegal purpose or in violation of any applicable law;
b. using the Site to impersonate any person or entity, or falsely state or otherwise misrepresent your affiliation with a person or entity;
c. using the Site to upload, post, transmit, or otherwise make available any content that is unlawful, harmful, threatening, abusive, harassing, defamatory, vulgar, obscene, invasive of another's privacy, hateful, or racially, ethnically, or otherwise objectionable;
d. using the Site to upload, post, transmit, or otherwise make available any content that infringes any patent, trademark, trade secret, copyright, or other proprietary rights of any party;
e. using the Site to upload, post, transmit, or otherwise make available any unsolicited or unauthorized advertising, promotional materials, "junk mail," "spam," "chain letters," "pyramid schemes," or any other form of solicitation;
f. using the Site to distribute viruses or other harmful computer code, files, or programs;
g. attempting to interfere with, disrupt, or harm the Site or its servers or networks;
h. attempting to gain unauthorized access to the Site or its servers or networks; or
i. using the Site in any other way that violates these Terms of Use.

Intellectual Property
The Site and its contents, including but not limited to text, graphics, images, software, and other material ("Content"), are protected by copyright, trademark, patent, and other intellectual property laws. You acknowledge that the Site and its Content are our property or the property of our licensors and that you do not acquire any ownership rights by using the Site.

User Content
You may be able to submit content to the Site, including but not limited to comments, reviews, and other material (collectively, "User Content"). By submitting User Content, you grant us a non-exclusive, royalty-free, perpetual, irrevocable, and fully sublicensable right to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, and display such User Content throughout the world in any media. You represent and warrant that you own or have the necessary licenses, rights, consents, and permissions to submit User Content and to grant us the rights set forth in this Section 6.

Disclaimer of Warranties
THE SITE AND ITS CONTENT ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND,</p>
    </div>
</div>
{% endblock %}